<ion-header>
  <ion-navbar>
    <ion-title>
      Nossos Serviços
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-button block color="primary" (click)="openRadio()">Assesoria</button>
      <div *ngIf="opened">
        <ion-list inset radio-group [(ngModel)]="option">
          <ion-item>
            <ion-label>Desenvolvimento de Projetos</ion-label>
            <ion-radio value="dev" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Projetos de Gerenciamento</ion-label>
            <ion-radio value="manager"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pareceres Técnicos</ion-label>
            <ion-radio value="tec" [disabled]="isDisabled"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Vistoria</ion-label>
            <ion-radio value="vistoria"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Palestras e Treinamentos</ion-label>
            <ion-radio value="vistoria"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
    <button ion-button block color="primary" (click)="navCadastroPage()">Coleta de Resíduos</button>
    <button ion-button block color="primary" (click)="navCadastroPage()">Comprar Agregados</button>
    <button ion-button block color="primary" (click)="openRadio2()">Solicitar Caçamba/ECOBAG</button>
    <div *ngIf="opened2">
        <ion-list inset radio-group [(ngModel)]="option">
          <ion-item>
            <ion-label>Caçamba</ion-label>
            <ion-radio value="cacamba" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>ECOBAG</ion-label>
            <ion-radio value="ecobag"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
  </ion-list>
</ion-content>
